 .mobile-footer {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
        background-color: var( --base--color);
     margin-top: 10px;
     box-shadow: -5px -5px 5px -5px rgba(0, 0, 0, 0.7);
     padding-top: 20px;

 }





 .divider {
     width: 80%;
     height: 3px;
     background-color: var(--base--text--color);
     margin-top: 20px;
     margin-bottom: 20px;
 }



 



 

 .heading {
     text-align: center;
     width: 90%;
     font-size: clamp(10px, 3vw, 15px);
     color: var(--base--text--color);
 }

 

 @media screen and (min-width: 900px) {
     .mobile-footer {
         display: flex;
         flex-direction: column;
        
         width: 100%;
     }

     .heading {
         text-align: center;
         width: 90%;
      
         color: var(--base--text--color);
     }

     .divider {
         width: 50%;
         height: 3px;
         background-color: var(--base--text--color);
         margin-top: 20px;
         margin-bottom: 20px;
     }

    


 }