@keyframes UpDown {
    0% {
        transform: translateY(0px);
    }
    
    30% {
        transform: translateY(20px);
    }

    50% {
        transofrm: translateY(40px);
    }

    70% {
        transform: translateY(20px);
    }

    100% {
        transform: translateX(0px) ;
    }
    
}

@keyframes moveCloud {

}


#loader {
   
   display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
 
   
}
#loader img {
    width: 100px;
    height: 100px;
    
}

.upDown {
    animation: UpDown 2s linear infinite;
}

.upDownDelayHalfSec {
    animation: Updown 2s linear infinite;
    animation-delay: 0.5s;
}

.upDownDelayOneSec {
    animation: Updown 2s linear infinite;
    animation-delay: 0.8s;
}

#cloud-container {
    display: flex;
   
    
    align-items: center;
    gap: 30px;
}