@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
    
}

@keyframes slideFromTop {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateX(0);
    }
    
}

.slideFromTop {
    animation: slideFromTop 1.5s;

}

.fadeIn {
    animation: fadeIn 3s;
   
}

#mobile-header {
    display: flex;
    gap: 10px;
    justify-content: center;
    position: fixed;
    z-index: 100;
    align-items: center;
    width: 100%;
    background-color: #1a202c;;
    padding: 10px;
     box-shadow: 0 5px 5px -5px rgba(0, 0, 0, 1);
     margin-bottom: 10px;
    color: white;
   
    
}