@keyframes slideInFromBottom {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
    
}

@keyframes slideInRight {
    0% {
       transform:  translateX(300px);
    }

   
    100% {
     transform:    translateY(0);
    }
}

.slideInRight {
    animation: slideInRight 1.5s;
}

.slideInFromBottom {
    animation: slideInFromBottom 1.5s ;
}


#about-us-container {
   display: flex;
   flex-direction: column;
    width: 100%;
    height: auto;
    background-color:#1a202c;
    padding: 20px;
   gap: 20px;
}

h1 {
    font-size: 40px;
    color: white;
    width: 100%;
   text-align: center;

}



.text-flex-start-container {
    display: flex;
    font-size: 20px;
    color: white;
   
    margin-top: 20px;
   padding: 10px;
  
   
   
    width: 50%;
}

.text-flex-end-container {
    display: flex;
    font-size: 20px;
    color: white;
   
    margin-top: 20px;
    padding: 10px;
   
    width: 50%;
    align-self: flex-end;
}

.flex-end-container {
    display: flex;
flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

.flex-start-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.flex-start-p {
    font-weight: bold;
    color: #5d83db;
    font-size: 30px;
    text-align: start;
    margin-left: 100px;

}

.flex-end-p {
    font-weight: bold;
    color: #5d83db;
    font-size: 30px;
    text-align: end;
    margin-right: 100px;
}
.flex-start-container {
    transform: translateY(0);
    transition: transform 1.5s;
}

.flex-start-container:hover {
    transform: translateY(-30px);
    transition: transform 1.5s;
}

.flex-end-container {
    transform: translateY(0);
    transition: transform 1.5s;
}




.flex-end-container:hover {
    transform: translateY(-30px);
    transition: transform 1.5s;
}

@media screen and (max-width: 600px) {
   
    h1 {
        font-size: 30px;
        margin-top: 10px;
    }

}

@media (min-width:300px) and (max-width: 1000px) {
    .text-flex-start-container {
        width: 100%;
    }

    .text-flex-end-container {
        width: 100%;
    }

    .flex-start-p {
        margin-left: 0px;
    }

    .flex-end-p {
        margin-right: 0px;
    }
}