
.appContainer {
  display: flex;
  height: 100%;
  flex-direction: column;

  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  /* Resize the background image to cover the entire container */
}

.container {
  display: flex;
  height: 100%;
}