.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 100%;
    overflow: hidden;
   
}

#content {
    color: white;

}

#username {
    color:white;
}

#email {
    color: white;
}

#send {
    margin-top: 50px;
    padding: 20px;
    background-color: blue;
    width: 10%;
    
}

@media (min-width: 461px) {
   

    #email {
        width: 20%;
    }
}

@media (min-width: 768px) {
 
    #email {
        width: 30%;
    }

    #content {
        height: 50%;
        width: 50%;
    }
}

@media (min-width: 1024px) {
   

    #username { 
        width: 20%;
    }

    #email {
        width: 20%;
    }

    #content { 
        width: 50%;
        height: 50%;
    }
}

@media (min-width: 1280px) {
 
}
