
.coaches-page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
}


#header {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    
    
}

#footer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
    
}

#coaches-container { 
    display: flex;
    flex-wrap: wrap;
  padding: 100px;
    justify-content: center;
    gap: 10px;
    margin-top: 100px;
}

#add-coach-button {
  display: block;
    background-color: gray;
    padding: 14px 20px;
    color: black;
    cursor: pointer;
    border: 2px solid gray;
    width: auto;
    align-self: center;
}

#first-name-input, #last-name-input, #coach-file-input {
  padding:10px;
  margin:10px;
  background-color: whitesmoke;
  border: 2px solid #a3a9a3;
  width: 80%;
 
}

#modal-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

@media screen and (max-width: 390px) {
  #coaches-container {
    padding: 10px;
    margin-bottom: 100px;
    
  }
 
  

  
}

@media screen and (max-width: 450px) {
  #coaches-container {
    padding: 10px;
    margin-bottom: 100px;
    
  }
 
  

  
}

@media screen and (min-width: 450px) {
  #coaches-container {
    padding: 10px;
    margin-bottom: 100px;
    
  }
 
  

  
}

@media screen and (min-width: 700px) {
  #coaches-container {
    padding: 10%;
 
    
  }
 
  

  
}

@media screen and (min-width: 1500px) {
  #coaches-container {
    padding-left: 30%;
    padding-right: 30%;
 
    
  }
 
  

  
}