.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background-color: green;
  padding: 20px;
  /* gap: 20px; */
}

#banner {
  
   width: 100vw;
   height: 400px;
   object-fit: cover;
  
  }

  .banner-container {
    width: 100vw;
  }

li {
  color: var(--base--text--color);
 text-align: left;
 font-size: clamp(1rem, 2vw, 1.5rem);
 user-select: none;
 -webkit-user-select: none;
 -moz-user-select: none;
}



#logo {
  height: 500px;
  width:550px;
  
  
}



@media screen and (max-width: 450px) {
  #logo {
    height: 235px;
    width: 235px;
    
  }

  

  
}

@media screen and (max-width: 460px) {
  #logo {
    height: 235px;
    width: 235px;
    
  }

 
  .banner-container {
    padding: 10px;
  }

}

@media screen and (max-width: 430px) {
  #logo {
    height: 235px;
    width: 200px;
    
  }
  .banner-container {
    padding: 10px;
  }


  
}
@media screen and (max-width: 481px) {
  .banner-container {
    padding: 10px;
  }

  #logo {
    height: 235px;
    width: 250px;
    
  }

}